.bot{
    background-color: #C68422;
    color: white;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border: 0;
    text-decoration: none
}
.navbar{
    background-color: #16191c;
    color: white;
    display: flex;
    flex-direction: row;
}
.nav{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 0px;
    text-align: left;

}
.nav-link{
    position:relative;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}
.container{
    display: flex;
    flex-direction: row;
}
